cfelpyutils==2.0.6
coverage<7.5
cycler<=0.12.1
extra_data==1.15.1
future==0.18.3
h5py<3.11.0
kiwisolver==1.4.5
matplotlib<3.9.0
nbval==0.10.0
numexpr!=2.8.6, <=2.9.0
numpy<1.27.0
Pillow<10.3.0
pyFAI==2024.2.0
pyparsing==3.1.1
pytest<8.1.0
pytest-cov==4.1.0
python-dateutil==2.8.2
six==1.16.0
testpath==0.6.0
xarray<2024.2.0
