cfelpyutils==2.0.6
coverage<7.7
cycler<=0.12.1
extra_data==1.17.0
h5py<3.12.0
kiwisolver==1.4.7
matplotlib<3.10.0
nbval==0.11.0
numexpr!=2.8.6, <=2.10.1
numpy<2.2.0
Pillow<10.5.0
pyFAI==2024.9.0
pyparsing==3.1.4
pytest<8.4.0
pytest-cov<=5.0.0
python-dateutil==2.9.0.post0
six==1.16.0
testpath==0.6.0
xarray<2024.10.0
